.login {
    display: inline-block;
    align-content: center;
    color: black;
    background-color: white;
    border: solid 3px black;
    margin: 350px;
    padding: 30px;
}

.title {
    /* display: inline-block; */
    display: inline-block;
    padding-bottom: 20px;
    /* align-content: center; */
    /* align-items: center; */
}

.img {
    display: flex;
    padding-bottom: 20px;
    /* align-content: center; */
}

.input {
    display: flex;
    margin: 10px;
    border-radius: 5px;
}

.button {
    padding: 5px;
    width: 180px;
    background-color: rgb(148, 146, 146);
    display: inline-block;
}

.button:hover {
    background-color: rgb(61, 219, 61);
    font-size: large;
    width: 190px;
}